[Unit]
Description=rlog-dispatch
After=multi-user.target

[Service]
Type=simple
Restart=no
ExecStart=/home/master/rLog/.venv/bin/python3 /home/master/rLog/rLog/dispatch.py

[Install]
WantedBy=multi-user.target
